# Secrets
.env
.streamlit/secrets.toml

# Output files
graph.html

# OS/System files
.DS_Store

# Python cache
__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/

# Large dataset not included
ds3.json
